<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Busqueda</title>
</head>
<body>
    <style>
        body{
            background-color: burlywood;
        }
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        table{
            width: 40%;
        }
        td{
            width: auto;
        }
        th{
            width: auto;
        }
        tr{
            width: 100%;
            text-align: center;
        }
    </style>
<div>
    <table>
        <caption>Resultados de la Busqueda</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Seccion</th>
                <th>Precio</th>
            </tr>
        </thead>

        <tbody>
            {% if estatus %}
                {% for re in registro %}
                    <tr>
                        <td>{{re.nombre}}</td>
                        <td>{{re.seccion}}</td>
                        <td>{{re.precio}}</td>
                    </tr>

                {% endfor %}
            {% else %}

                <tr>
                    <td></td>
                    <td><p>Sin Resultados</p></td>
                    <td></td>
                </tr>

            {% endif %}
        </tbody>
    </table>
</div>
</body>
</html>